<!DOCTYPE html>
<html lang="en">
  <head>
    <% if (NODE_ENV === 'production') { %><script async src="https://www.googletagmanager.com/gtag/js?id=UA-67002303-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-67002303-1');
    </script><% } %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% if (css) { %><link rel="stylesheet" href="<%= css %>" /><% } %>
    <% if (title) { %><title><%- title %></title>
    <meta property="og:title" content="<%- title %>" />
    <meta name="twitter:title" content="<%- title %>" /><% } %>
    <% if (desc) { %><meta property="og:description" content="<%- desc %>" />
    <meta name="twitter:description" content="<%- desc %>" />
    <meta name="description" content="<%- desc %>"><% } %>
    <% if (og_img) { %><meta property="og:image" content="<%= og_img %>" /><% } %>
    <% if (og_img_alt) { %><meta property="og:image:alt" content="<%= og_img_alt %>" /><% } %>
    <% if (twitter_img) { %><meta name="twitter:image" content="<%= twitter_img %>" /><% } %>
    <% if (twitter_img_alt) { %><meta name="twitter:image:alt" content="<%= twitter_img_alt %>" /><% } %>
    <% if (canon) { %><meta property="og:url" content="<%= canon %>" /><% } %>
    <% if (twitter_card) { %><meta name="twitter:card" content="<%= twitter_card %>" /><% } %>
    <% if (keywords) { %><meta name="keywords" content="<%= keywords.toString() %>"><% } %>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this website properly.</noscript>
    <div id="root"><% if (app) { %><%- app %><% } %></div>
    <script src="<%= js %>"></script><% if (NODE_ENV === 'development') { %><script src="/dev.js"></script><% } %>
  </body>
</html>
